/* @font-face { font-family: 'Didot'; */
    /* src: url('font/Didot.ttf') format('truetype'); } */

:root {
    --text-color: black;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* font-family: 'Didot', sans-serif; */
}

nav {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}