@import url('https://fonts.googleapis.com/css?family=Codystar|Julius+Sans+One|Montserrat|Open+Sans+Condensed:300');

* {
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', Arial, Helvetica, sans-serif;
    font-size: 15px;
}
html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
header {
    width: 100%;
    background-color: white;
}
#header-wrapper {
    width: 72.65625%;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-list-item {
    margin-right: 15px;
}
.nav-list-item:first-child() {
    margin-left: 15px;
}
main {
    width: 100%;
}
#gallery-wrapper {
    width: 72.65625%;
    margin: auto;
}
#gallery {
    margin: 29px 0;
    list-style: none;
    column-count: 3;
    column-gap: 43px;
    column-width: 30%;
}
.gallery-item img {
    margin-bottom: 43px;
    max-width: 100%;
    width: 100%;
    height: auto;
}
footer {
    width: 72.65625%;
}