@import url('https://fonts.googleapis.com/css?family=Anaheim|Anonymous+Pro|Bai+Jamjuree|Black+Ops+One|Bungee|Bungee+Inline|Bungee+Shade|Chathura|Comfortaa|Cutive+Mono|Duru+Sans|Expletus+Sans|Faster+One|Flamenco|Geo|Geostar+Fill|Graduate|Iceberg|Julius+Sans+One|Jura|K2D|Lekton|Megrim|Monoton|Montserrat|Nixie+One|Overpass+Mono|PT+Mono|Plaster|Poiret+One|Press+Start+2P|Quantico|Share+Tech+Mono|Space+Mono|VT323|Vast+Shadow');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    /* background-color: whitesmoke; */
}
.rr_header_wrapper {
    height: 80%;
}
.rr_header_title {
    text-align: center;
    transition: all ease-in-out 0.4s;
}
section {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}
@media only screen and (max-width: 768px) {
    section {
        max-width: 85%;
        margin: auto;
        /* If navbar should have same width as elements uncomment */
        padding: 0;
    }
}